//.cursorrules文件
# 回答方式:
- Always respond in 中文

# 安装包方式:
- 使用pnpm安装包,不要使用npm
- 如果需要安装包就用pnpm 帮我自动安装

# 命名规范js和ts和json,jsx,tsx,vue,html,css:
- 函数名,方法名,变量名,文件名,目录名,使用下划线命名法


# 规范prisma表:
- prisma的表名,字段名,使用下划线命名法,表名使用小写,字段名使用小写,不要使用 @@map
- 表不需要有下面的字段created_at,updated_at,status,last_login_at,last_login_time,email,is_deleted,component,icon,status,avatar,status,因为我希望表简单
- 描述字段使用 英文单词remark
- 创建时间,所有的表格都不需要这个字段
- 更新时间,所有的表格都不需要这个字段
- 邮箱,所有的表格都不需要这个字段
- 状态,所有的表格都不需要这个字段
- 最后登录时间,所有的表格都不需要这个字段
- 加入部门的时间,所有的表格都不需要这个字段
- 离职的时间,所有的表格都不需要这个字段
- 是否为主部门,所有的表格都不需要这个字段
- 表的model需要写序号,我才能直观的看到表的顺序
- 不需要有日志表
- 表和表之间的关系写好解释说明
- 字段写好解释说明

# 不要是用的技术:
- 不要使用element-plus/icons-vue

# 网站开发项目规范配置:
- 每一次会话请求结束后进行会话总结,
- 无论生成新文件还是修改已有文件都需要做总并将总结内容Append写入到.cursorrules.history.md文件中
- 会话的主要目的(.cursorrules.history.md)
- 完成的主要任务(.cursorrules.history.md)
- 关键决策和解决方案(.cursorrules.history.md)
- 使用的技术栈修改了哪些文件(.cursorrules.history.md)
- 说明文件中的内容是累积增加到(.cursorrules.history.md)
- 不要修改我的(.cursorrules.ask.md,README.md,readme.md)文件内容



# css/tailwindcss 使用规范:
- 简洁的样式,不要使用阴影,不要使用动画



# nestjs项目规范
- 写代码时,参考src/index/Module_demo/demo.ts文件的写法
- 写代码时,dto参考index/Module_demo/dto.ts